@model List<Actividad4LengProg3.Models.CalificacionViewModel>

<h1 class="text-center my-4" style="font-size: 2.5rem; font-weight: 600; color: #2c3e50;">
	Listado de calificaciones
</h1>

@if (TempData["Mensaje"] != null)
{
	<div class="alert alert-success">@TempData["Mensaje"]</div>
}

<div class="row">
	<div class="col-12">
		<table class=" table table-bordered table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Matricula</th>
					<th>Código de asignatura</th>
					<th>Calificacion</th>
					<th>Periodo</th>
				</tr>
			</thead>
			<tbody>
				@{
					foreach (var data in Model)
					{
						<tr>
							<td>@data.Id</td>
							<td>@data.MatriculaEstudiante</td>
							<td>@data.CodigoMateria</td>
							<td>@data.Nota</td>
							<td>@data.Periodo</td>
							<td>
								<a asp-action="Editar" asp-route-idcalificacion="@data.Id" class="btn btn-secondary">Editar calificacion</a>
								<a asp-action="Eliminar" asp-route-num="@data.Id" class="btn btn-danger">Eliminar calificacion</a>
							</td>
						</tr>
					}

				}
			</tbody>
		</table>
		<a class="btn btn-primary" asp-action="Index" asp-controller="Calificaciones">Agregar calificacion</a>
	</div>
</div>
