@model List<Actividad4LengProg3.Models.EstudianteViewModel>


    @if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">@TempData["Mensaje"]</div>
}

<div class="row">
    <div class="col-12">
        <table>
            <thead>
                <tr>
                    <th>
                        Nombrre
                    </th>
                    <th>
                        Matricula
                    </th>
                    <th>
                        Carrera
                    </th>
                    <th>
                        Correo Institucional
                    </th>
                    <th>
                        Telefono
                    </th>
                    <th>
                        Fecha de nacimiento
                    </th>
                    <th>
                        Genero
                    </th>
                    <th>
                        Turno
                    </th>
                    <th>
                        Tipo de ingreso
                    </th>
                    <th>
                        Es becado
                    </th>
                    <th>
                        Porcentaje de beca
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (var datos in Model)
                    {
                    <tr>
                        <td>
                            @datos.NombreCompleto
                        </td>
                        <td>
                           @datos.Matricula
                        </td>
                        <td>
                           @datos.Carrera
                        </td>
                        <td>
                           @datos.CorreoInstitucional
                        </td>
                        <td>
                           @datos.Telefono
                        </td>
                        <td>
                           @datos.FechaNacimiento
                        </td>
                        <td>
                           @datos.Genero
                        </td>
                        <td>
                           @datos.Turno
                        </td>
                        <td>
                           @datos.TipoIngreso
                        </td>
                        <td>
                           @datos.EstaBecado
                        </td>
                        <td>
                           @datos.PorcentajeBeca
                        </td>

                        <td>
                         <a asp-action="Editar" asp-route-matricula="@datos.Matricula" class="btn btn-secondary">
                         Editar
                         </a>

                         <a asp-action="Eliminar" asp-route-matricula="@datos.Matricula" class="btn btn-danger">
                         Eliminar
                         </a>

                        </td>
                    </tr>
                    }
                }
            </tbody>
         </table>
    </div>
</div>